body{
margin:0;
font-family: Arial, sans-serif;
background: linear-gradient(135deg, #74ebd5, #ACB6E5);
}

.container{
max-width:900px;
margin:auto;
padding:20px;
}

.header{
text-align:center;
font-size:36px;
font-weight:bold;
color:white;
margin-bottom:20px;
}

.card{
background:white;
padding:20px;
border-radius:15px;
margin-bottom:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
text-align:center;
}

.pet-image{
width:100%;
height:220px;
object-fit:cover;
border-radius:15px;
margin-top:10px;
}


button{
padding:15px 25px;
margin-top:15px;
border:none;
border-radius:10px;
background: linear-gradient(45deg, #ff6b6b, #ff9800);
color:white;
font-size:18px;
cursor:pointer;
}

button:hover{
transform:scale(1.05);
}

input{
width:100%;
padding:12px;
margin-top:10px;
border-radius:10px;
border:1px solid gray;
font-size:16px;
}
.hero{
position:relative;
width:100%;
height:300px;
border-radius:15px;
overflow:hidden;
margin-bottom:20px;
}

.hero img{
width:100%;
height:100%;
object-fit:cover;
filter:brightness(60%);
}

.hero-text{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:white;
font-size:32px;
font-weight:bold;
text-align:center;
}

.hero-sub{
font-size:18px;
margin-top:10px;
}
