body{
background:#eef2f7;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Arial;
}

.phone{
width:350px;
height:650px;
background:black;
border-radius:30px;
padding:15px;
}

.screen{
background:white;
height:100%;
border-radius:20px;
padding:20px;
}

button{
width:100%;
padding:12px;
margin-top:10px;
background:#4CAF50;
color:white;
border:none;
border-radius:8px;
}

input{
width:100%;
padding:10px;
margin-top:10px;
}
